<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="laser_link">
    <inertial>
      <origin
        xyz="-4.16811316961141E-07 -0.00020012090060817 0.0126456553172981"
        rpy="0 0 0" />
      <mass
        value="0.00949435768129115" />
      <inertia
        ixx="3.81407368895801E-06"
        ixy="-2.89093384914113E-11"
        ixz="2.07953967746501E-11"
        iyy="3.81525913149567E-06"
        iyz="-8.08800420939772E-10"
        izz="4.9344522853465E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/laser_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.0823529411764706 0.0823529411764706 0.0823529411764706 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/laser_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.197743015846854 0.0027430158468545 0.159099867903085"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="laser_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
