<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <link
    name="USB_link">
    <inertial>
      <origin
        xyz="0.00200485036829945 -6.30206112176707E-06 8.96260120698961E-05"
        rpy="0 0 0" />
      <mass
        value="0.00351156143354723" />
      <inertia
        ixx="2.7228430247311E-07"
        ixy="8.16918741171808E-14"
        ixz="7.23554313169072E-12"
        iyy="8.92094405089974E-08"
        iyz="-2.49782595956578E-11"
        izz="2.22970634830114E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USB_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USB_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="USB_joint"
    type="fixed">
    <origin
      xyz="-0.297247724970268 -0.000399525317885812 0.034797072321444"
      rpy="0 0 -3.14" />
    <parent
      link="base_link" />
    <child
      link="USB_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="USL2_link">
    <inertial>
      <origin
        xyz="0.00200465694765273 -2.85523787015851E-05 8.96260115198499E-05"
        rpy="0 0 0" />
      <mass
        value="0.00351156143354724" />
      <inertia
        ixx="8.92094405089983E-08"
        ixy="-8.169187091625E-14"
        ixz="-2.49782595941744E-11"
        iyy="2.7228430247311E-07"
        iyz="-7.23554313158618E-12"
        izz="2.22970634830115E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USL2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USL2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="USL2_joint"
    type="fixed">
    <origin
      xyz="-0.142436694016969 0.2 0.0347970723214464"
      rpy="0 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="USL2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="USL1_link">
    <inertial>
      <origin
        xyz="0.00200465694765256 -2.85523787028064E-05 8.96260115198569E-05"
        rpy="0 0 0" />
      <mass
        value="0.00351156143354724" />
      <inertia
        ixx="8.92094405089983E-08"
        ixy="-8.16918709175315E-14"
        ixz="-2.49782595960476E-11"
        iyy="2.7228430247311E-07"
        iyz="-7.23554313158602E-12"
        izz="2.22970634830115E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USL1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USL1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="USL1_joint"
    type="fixed">
    <origin
      xyz="0.141637643381198 0.2 0.0347970723214444"
      rpy="0 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="USL1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="USR2_link">
    <inertial>
      <origin
        xyz="0.00200465694765181 -2.85523787021957E-05 8.9626011519732E-05"
        rpy="0 0 0" />
      <mass
        value="0.00351156143354724" />
      <inertia
        ixx="8.9209440508998E-08"
        ixy="-8.16918709225816E-14"
        ixz="2.4978259596054E-11"
        iyy="2.72284302473109E-07"
        iyz="7.23554313147844E-12"
        izz="2.22970634830113E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USR2_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USR2_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="USR2_joint"
    type="fixed">
    <origin
      xyz="0.14163669401697 -0.2 0.0347970723214451"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="USR2_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="USR1_link">
    <inertial>
      <origin
        xyz="0.00200465694765189 -2.85523787023068E-05 8.96260115197736E-05"
        rpy="0 0 0" />
      <mass
        value="0.00351156143354724" />
      <inertia
        ixx="8.92094405089981E-08"
        ixy="-8.16918695489528E-14"
        ixz="2.49782595958463E-11"
        iyy="2.72284302473109E-07"
        iyz="7.23554313129476E-12"
        izz="2.22970634830114E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USR1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USR1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="USR1_joint"
    type="fixed">
    <origin
      xyz="-0.142437643381199 -0.199999999999999 0.0351970723214457"
      rpy="0 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="USR1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="USF_link">
    <inertial>
      <origin
        xyz="0.00200465694765267 -2.85523787022033E-05 8.96260115198708E-05"
        rpy="0 0 0" />
      <mass
        value="0.00351156143354723" />
      <inertia
        ixx="2.7228430247311E-07"
        ixy="8.16918728917237E-14"
        ixz="-7.23554313164944E-12"
        iyy="8.92094405089973E-08"
        iyz="2.49782595956534E-11"
        izz="2.22970634830114E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USF_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rospital_description/meshes/USF_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="USF_joint"
    type="fixed">
    <origin
      xyz="0.297247724970268 0.000399525317885919 0.0347970723214441"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="USF_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>